<!DOCTYPE html>
<html>

<head>
  <title>Tool test</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="./static/css/w3.css">
  <link rel="stylesheet" href="./static/css/theme.css">
  <link rel="stylesheet" href="./fontawesome/css/fontawesome.css">
  <link rel="stylesheet" href="./fontawesome/css/all.css">

  <link rel="stylesheet" href="./static/lib/date-time-picker/jquery-ui.css">
  <link rel="stylesheet" href="./static/lib/keyboard/jquery-ui.min.css">

  <link rel="stylesheet" href="./static/css/index.css">
  
  
  <!-- <script src="./static/lib/chart.min.js"></script> -->



  

</head>

<body oncontextmenu="return false">
  <div id="root"></div>
  
  <script src="./static/js/chartjsGauge.js"></script>
  <script src="./static/js/chartjsLine.js"></script>



  <script src="./chart.js/dist/chart.min.js"></script>
  <!-- <script src="./static/lib/chart.min.js"></script> -->
  <script src="./chart.js/dist/chart.bundle.js"></script>
  <script src="./chartjs-gauge/dist/chartjs-gauge.js"></script>


  <script src="./fontawesome/js/all.js"></script>
  <script src="./static/lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="./static/lib/jquery/js.cookie-1.5.1.js"></script>
  <script src="./socket.io/socket.io.js"></script>

  <script src="./static/lib/slimscroll/jquery.slimscroll.js"></script>
  <script src="./static/js/w3.js"></script>

  <script src="./static/js/common.js"></script>
  <script src="./static/js/config.js"></script>


  <script src="./static/components/root/root.js"></script>
  <script src="./static/components/thiNghiem/thiNghiem.js"></script>
  <script src="./static/components/thiNghiem/device.js"></script>
  <script src="./static/js/detail.js"></script>
  <script src="./static/js/list.js"></script>
  <script src="./static/components/baoCao/baoCao.js"></script>
  <script src="./static/components/caiDat/caiDat.js"></script>
  <script src="./static/js/socketIOroute.js"></script>
  <script src="./static/js/index.js"></script>

</body>
</html>